:root{
    --color-bg: #f8fcff;
    --color-btn-font: #FFFFFF;
    --color-btn-bg: #002333;
    --color-bg-card: #c3e4d4;
}


*{
    color: #002333 !important;
}

body{
    background-color: var(--color-bg);
}

.btn{
    color: var(--color-btn-font) !important;
    background-color: var(--color-btn-bg) !important;
    border-color: var(--color-btn-bg) !important;
}

.login-form{
    background-color: var(--color-bg-card);
    border-radius: 3px;
    padding: 10px;
    margin-top: 25vb;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.171);
    width: 500px;
}

.navbar{
    background-color: var(--color-bg-card) !important;
}

@media (max-width: 450px) {
    .login-form{
        width: 350px;
        place-items: center;
    }
}